@import '../../../mixins';

.testimonial-item {
    background-color: $primary;
    padding: 20px 10px;
    
    .item-info {
        margin-bottom: 10px;

        p {
            margin: 0;

            &:first-child {
                font-size: 2em;
                color: $secondary;
                text-transform: uppercase;
            }

            @include tablet {
                font-size: 0.6em;

                &:first-child {
                    font-size: 1em;
                }
            }
        }
    }

    figure {
        margin: 0;
        padding: 0;
        height: 200px;
        overflow: hidden;

        img {
            width: 100%;
        }
        
        @include tablet {
            height: 140px;
        }
    }

    p.message {
        color: transparentize($light, 0.4);
        font-style: italic;
        line-height: 1.8;
        
        @include tablet {
            font-size: 0.8em;
            line-height: 1.2;
        }
    }
}