@import '../../../variables';
@import '../../../mixins';

.banner-span {
    background-color: $primary;

    .span-content {
        @include mid-width('medium');
        height: 100%;
        padding: 20px 0;
        align-items: center;
        justify-content: space-around;

        .span-item {
            display: flex;
            padding: 0 10px;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $light;

            &:last-child { border-right: none; }

            svg {
                @include prefix((transform: scale(1.5)));

                @include tablet {
                    @include prefix((transform: scale(1.3)));
                }

                path {
                    fill: $light;
                }
            }

            div {
                margin-left: 20px;

                @include tablet {
                    margin-left: 15px;
                }

                p {
                    margin: 0;
                    
                    &:first-child {
                        font-weight: 500;
                        margin-bottom: 5px;

                        @include tablet {
                            font-size: 0.8em;
                            margin-bottom: 0;
                        }
                    }
                    &:last-child {
                        font-size: 0.8em;

                        @include tablet {
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}