@import '../../../variables';
@import '../../../mixins';

.banner-span {
    background-color: $primary;

    .span-content {
        width: 100%;
        @include mid-width('medium');
        height: 100%;
        padding: 20px 0;
        align-items: center;
        justify-content: space-around;

        @include mobile {
            max-width: unset;
        }

        .span-item {
            display: flex;
            padding: 0 10px;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            
            &:nth-of-type(2) {
                border-left: 1px solid $light;
                border-right: 1px solid $light;
            }

            @include mobile {
                flex-direction: column;
            }

            svg {
                width: 36px;
                height: 36px;

                @include tablet {
                    width: 32px;
                    height: 32px;
                }

                @include mobile('xs') {
                    width: 28px;
                    height: 28px;
                }

                path {
                    fill: $light;
                }
            }

            div {
                margin-left: 20px;

                @include tablet {
                    margin-left: 15px;
                }

                @include mobile {
                    margin-top: 12px;
                    margin-left: 0;
                }

                p {
                    margin: 0;

                    @include mobile {
                        text-align: center;
                    }
                    
                    &:first-child {
                        font-weight: 500;
                        line-height: 1;
                        margin-bottom: 5px;

                        @include tablet {
                            font-size: 0.8em;
                            margin-bottom: 0;
                        }

                        @include mobile {
                            font-size: 0.9em;
                        }

                        @include mobile('xs') {
                            font-size: 0.7em;
                        }
                    }
                    &:last-child {
                        font-size: 0.8em;

                        @include tablet {
                            font-size: 0.6em;
                        }

                        @include mobile('xs') {
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}