@import '../../../variables';
@import '../../../mixins';

.footer-span {
    background-color: $secondary;

    .span-content {
        @include mid-width('medium');
        height: 100%;
        padding: 25px 0 40px;
        align-items: center;
        justify-content: space-around;

        .span-item {
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;

            &:last-child { border-right: none; }

            svg {
                @include prefix((transform: scale(1.5)));

                path {
                    fill: $primary;
                }
            }

            div {
                margin-left: 20px;

                p {
                    margin: 0;
                    color: $primary;
                    
                    &:first-child {
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    &:last-child {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}