@import '../../variables';
@import '../../mixins';

footer {
    position: relative;
    display: block;

    .footer-content {
        position: relative;
        display: flex;
        @include mid-width('medium');
        padding: 20px;
        align-items: center;
        justify-content: space-between;
    }
}