// UTILITIES
@import 'mixins';

.full-vh { height: 100vh; }
.half-vh { height: 50vh; }

.btn-light { @include button-bg($light); }
.btn-light-outline { @include button-bg($light, true); }
.btn-primary { @include button-bg($primary); }
.btn-secondary { @include button-bg($secondary); }

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    @include grid--gap;
    @include grid__col-x;
}

.font_anton { font-family: 'Anton', sans-serif; }
.font_poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.2;

  &.light { font-weight: 300; }
  &.regular { font-weight: 400; }
  &.medium { font-weight: 500; }
}