@import 'variables';
@import 'mixins';
@import 'utilities';

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: $light;
  background-color: $primary;
  @extend .font_poppins;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button { 
  @extend .font_poppins;
  
  &:focus, &:active { outline: none; }
}


section {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0.8;
  }

  .section-content {
      position: relative;
      @include mid-width('medium');
      height: 100%;
      padding: 4em 0 6em;

      p.section-title {
        @extend .font_anton;
        text-transform: capitalize;
        font-size: 1.6em;
        line-height: 1.6;
        margin-top: 0;
      }
  }
}
