@import '../../../mixins';

section#quote_form {
    @include background-image('pexels-kateryna-babaieva-2747017.jpg');
    overflow: visible;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4em;
        background-color: $secondary;
        // @include prefix((transform: translateX(calc((100vw - 100%)/2))));
    }

    .section-content {
        padding-bottom: 0;
        z-index: 1;
        // max-width: unset;
    }
}