.about-item {
    p {
        margin-top: 0;

        &:first-of-type {
            font-size: 2em;
            margin-bottom: 10px;
        }
        &:last-of-type {
            font-size: 0.8em;
        }
    }
}